<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <title>Inicio</title>
</head>
<body>
  <div class="portada">
    <img src="assets/Soporte.gif" alt="Portada">
    <div class="portada-texto">
      <h1>¡Bienvenido a Mercy Developer!</h1>
      <p>Ofrecemos soluciones de tecnología adaptadas a tus necesidades.</p>
    </div>
  </div>
    <div class="container mt-5 mb-5">
        <h2 class="text-center mb-4">Nuestros Servicios</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-small" src="assets/reparacion.jpg" alt="Arreglo de computadores">
              <div class="card-body">
                <h5 class="card-title">Reparación de Computadoras</h5>
                <p class="card-text">Brindamos diagnósticos exhaustivos y reparaciones especializadas para asegurar el funcionamiento óptimo de tu equipo.</p>
                <a href="/contactanos" class="btn btn-primary">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-small" src="assets/limpieza.jpg" alt="Limpieza de hardware y software">
              <div class="card-body">
                <h5 class="card-title">Optimización de Hardware y Software</h5>
                <p class="card-text">Elimina malware, optimiza el rendimiento de tu sistema y mejora la velocidad con nuestros servicios de limpieza avanzada.</p>
                <a href="/contactanos" class="btn btn-primary">Ver Más</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top img-small" src="assets/formateos.jpg" alt="Formateos">
              <div class="card-body">
                <h5 class="card-title">Formateos Seguros</h5>
                <p class="card-text">Realizamos formateos completos, asegurando la protección de tus archivos y el óptimo rendimiento de tu computadora.</p>
                <a href="/contactanos" class="btn btn-primary">Ver Más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</body>
</html>
